@import url('libs/_bootstrap-reboot.min.scss');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@import 'base/variables';
@import 'base/mixins';

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/particles';
@import 'blocks/services';
@import 'blocks/title';
@import 'blocks/portfolio';
@import 'blocks/buttons';
@import 'blocks/portfolio-img';
@import 'blocks/testimonials';


*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    padding-top: 126px;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}


