.promo{
    display: block;
    max-width: 1024px;
    margin: 0 auto;
    &__btns{
        width: 367px;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border: solid 2px #E8E8E8;
        border-radius: 50px;
        margin: 0 auto;
        margin-top: 300px;
    }
    &__btn{
        display: block;
        width: calc(367px - 208px);
        line-height: 60px;
        border-radius: 50px;
        text-align: center;
        color:#333333;
        font-size: 25px;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.2s;
    }
    &__btn_active{
        display: flex;
        justify-content: center;
        background-color: #2E80FE;
        width: 208px;
        color:#fff;
    }
}
